{% extends "layout.html" %}
{% block body %}
<h1>Statistic</h1>

<h3>Currently at the Event ({{active_visits}})</h3>
{% if user is none %}
🔒 <i>Only logged in users can see the names.</i>
{% else %}
{% if active_users|length > 0%}
<table class="table">
    <thead>
        <tr>
            <td>#</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Seat</td>
        </tr>
    </thead>
    <tbody>
        {% for first, last, seat in active_users -%}
        <tr>
            <td>
                {{loop.index}}
            </td>
            <td>{{first}}</td>
            <td>{{last}}</td>
            <td>{{seat}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%else%}
<i>There is nobody at the event yet.</i>
{% endif %}
{% endif %}
{% endblock %}